---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import HeadAssets from "./HeadAssets.astro";

import { docPages } from "../data/docs";
import { blogPages } from "../data/blog";
import Breadcrumb from "../components/Breadcrumb.astro";
import BreadcrumbBlog from "../components/BreadcrumbBlog.astro";

const sortedBlogPages = blogPages.sort((a, b) => {
  return a.pageInfo.index - b.pageInfo.index;
});

const currentPage = sortedBlogPages.findIndex(
  (p) => p.url.toLocaleLowerCase() == Astro.url.pathname
);

const nextPage = sortedBlogPages.at(currentPage + 1);
const prevPage = sortedBlogPages?.[currentPage - 1];
---

<!doctype html>
<html lang="en">
  <head>
    <HeadAssets docPages={docPages} />
    <title>Advect Web Components</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TSK6ZWSM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header docPages={docPages} />
    <main class="px-3">
      <div class="container my-2">
        <BreadcrumbBlog />
      </div>
      <div>
        <slot />
      </div>
      <div class="is-flex is-justify-content-space-between container mt-5">
        {
          prevPage 
          ? (
            <a href={prevPage.url} class="button is-gap-1">
                  <ion-icon name="chevron-back-outline" />
                <span >Previous:</span>
                <span class="signature-effect">{prevPage.pageInfo.name}</span>
            </a>
          )
          : <span></span>
        }

        {
          nextPage && (
            <a href={nextPage.url} class="button is-gap-1">
                <span >Next:</span>
                <span class="signature-effect">{nextPage.pageInfo.name}</span>
                  <ion-icon name="chevron-forward-outline" />
            </a>
          )
        }
      </div>
      <Footer />
    </main>
  </body><script is:inline>
    hljs.highlightAll();
  </script>
</html>
