---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import HeadAssets from "./HeadAssets.astro";
import Breadcrumb from "../components/Breadcrumb.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <HeadAssets />
    <title>Advect Web Components</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TSK6ZWSM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header docPages={Astro.props.allPages} />
    <main class="px-3">
      <div class="container my-2">
        <Breadcrumb pagePath={Astro.props.pagePath} allPages={Astro.props.allPages} pagePrefix="docs" />
      </div>
      <div>
        <slot />
      </div>
      <div class="is-flex is-justify-content-space-between container mt-5">
        {
          Astro.props.prevPage 
          ? (
            <a href={`/docs/${Astro.props.prevPage.pageInfo.slug}`} class="button is-gap-1">
                  <ion-icon name="chevron-back-outline" />
                <span >Previous:</span>
                <span class="signature-effect">{Astro.props.prevPage.pageInfo.name}</span>
            </a>
          )
          : <span></span>
        }

        {
          Astro.props.nextPage && !Astro.props.nextPage.pageInfo.hide  && (
            <a href={`/docs/${Astro.props.nextPage.pageInfo.slug}`} class="button is-gap-1">
                <span >Next:</span>
                <span class="signature-effect">{Astro.props.nextPage.pageInfo.name}</span>
                  <ion-icon name="chevron-forward-outline" />
            </a>
          )
        }
      </div>
      <Footer />
    </main>
  </body><script is:inline>
    hljs.highlightAll();
  </script>
</html>
